.text-center{
    text-align: center;
}




.bg-grey{
    background-color: grey;
}

.m-w-20{
    width: 30vw;
}

.mx-auto{
 margin:auto;
}


.flex{
    display:flex;
}

.flex-col{
    flex-direction: column;
}

@media (max-width:800px){
    .m-w-20{
        width:60vw;
    }
}

@media (max-width:100px){
    .m-w-20{
        width:80vw;
    }
}
